<!doctype html>
<html lang="en" ng-app="ytToolApp">
<head>
	<title>YouTube Embed Tool</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/app.css">
</head>
<body>
<div class="container">
	<h2>YouTube Embed Tool</h2>
	<div ng-controller="EventController">
		<div class="row">
			<div class="col-md-12">
				<form role="form">
					<div class="form-group">
						<div class="input-group input-group-lg">
							<span class="input-group-addon">Link</span>
							<input type="text" class="form-control" ng-model="embedPaste" ng-change="inputUpdate(embedPaste)">
						</div>
					</div>
					<div ng-show="embedShow" style="display: none;">
						<div class="alert alert-success clearfix">
							Awesome! We were able to fetch your video embed code. <a type="button" class="btn btn-success" href="{{embedCode}}" target="_blank" style="margin-left: 15px;">Watch The Video on YouTube</a>
						</div>
						<hr>
						<h3>{{videoDetails.title}}</h3>
						<hr>
						<div class="form-group">
							<label>Adjust Embed Code Size</label>
							<div class="btn-group" style="display: block;">
								<button type="button" class="btn btn-default" ng-click="embedWidthUpdate(630)"><strong>Regular</strong> (630px)</button>
								<button type="button" class="btn btn-default"ng-click="embedWidthUpdate(960)"><strong>Full Width</strong> (960px)</button>
								<div class="input-group">
									<input type="number" class="form-control" placeholder="Custom Width" ng-change="embedWidthUpdate(customWidth)" ng-model="customWidth">
								</div>
							</div>
						</div>
						<div class="form-group">
							<label>Embed Code</label>
							<textarea class="form-control" ng-bind-html-unsafe="embedCodeOutput"></textarea>
						</div>
						<div class="form-group">
							<label>Thumbnail URL</label>
							<input class="form-control" value="{{videoThumbnail}}">
						</div>
						<div class="form-group">
							<a class="btn btn-primary" href="{{videoThumbnail}}" download="{{videoDetails.thumbnailFile}}">Download Thumbnail</a>
							<a class="btn btn-default" href="{{videoThumbnail}}" target="_blank">View Thumbnail</a>
						</div>
						<div class="form-group">
							<img src="{{videoThumbnail}}" style="max-width: 100%; height: auto;">
						</div>
					</div>
					<div ng-show="embedError" style="display: none;">
						<div class="alert alert-danger">
							Oh snap! We were unable to fetch the embed code for your YouTube video.
						</div>
						<hr>
						Example of a working embed code: <strong>http://www.youtube.com/watch?v=0eOA1c9Fyeg</strong>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript" src="lib/jquery.js"></script>
<script type="text/javascript" src="lib/bootstrap.min.js"></script>
<script type="text/javascript" src="lib/angular/angular.min.js"></script>
<script type="text/javascript" src="lib/angular/angular-sanitize.min.js"></script>
<script type="text/javascript" src="lib/angular/angular-resource.min.js"></script>
<script type="text/javascript" src="js/app.js"></script>
<script type="text/javascript" src="js/controllers/EventController.js"></script>
</body>
</html>